<html>

<head>
    <title>Registration</title>
</head>

<body>
    <form action = "success.html">
        <label for="name">Enter your Name : </label><br />
        <input type="text" id="name" name = "name"> <br/>
        <label for="fname">Enter your father's Name : </label><br />
        <input type="text" id="fname" name = "fname"> <br/>
        <label for="mname">Enter your mother's Name : </label><br />
        <input type="text" id="mname" name = "mname"> <br/>
        <label for="mob">Enter your mobile number: </label><br />
        <input type="number" id="mob" name = "mob"> <br/><br/>
        <input type="submit" value="Submit">
</body>

</html>